.control-field
  width: 800px
  height: 160px
  display: flex
  justify-content: space-around


  &__buttons
    width: calc(30% - 20px)
    padding: 0 10px

  &__display
    width: calc(40% - 20px)
    border: 5px inset #838383
    background-color: #5D9643
    // width: 300px
    max-height: 100px

  &__beat
    width: calc(30% - 20px)
    padding: 0 10px
    text-align: right
    display: flex
    flex-direction: row