.control-field
  width: 780px
  height: 200px
  display: flex


  &__buttons
    width: 30%
    // border: 1px solid green

  &__display
    border: 5px inset #838383
    background-color: #141414
    width: 300px