
.noteCanvas-container
  width: 862px
  height: 260px
  margin: 0 auto
  // border: 1px solid green

.playheadCanvas
  position: absolute
  top: 20
  left: 300
  border: 1px solid grey


.canvas
  position: absolute
  top: 20
  left: 300
  border: 1px solid blue

.canvasNote
  position: absolute
  left: 300
  border: 1px solid lightgrey
  margin: 0px


.c1
  top: 270px
.ciss1
  top: 260px
.d1
  top: 250px
.diss1
  top: 240px
.e1
  top: 230px
.f1
  top: 220px
.fiss1
  top: 210px
.g1
  top: 200px
.giss1
  top: 190px
.a1
  top: 180px
.b1
  top: 170px
.h1
  top: 160px
.c2
  top: 150px
.ciss2
  top: 140px
.d2
  top: 130px
.diss2
  top: 120px
.e2
  top: 110px
.f2
  top: 100px
.fiss2
  top: 90px
.g2
  top: 80px
.giss2
  top: 70px
.a2
  top: 60px
.b2
  top: 50px
.h2
  top: 40px
.c3
  top: 30px
.ciss3
  top: 20px


