.canvasNote
  position: absolute
  left: 300
  // background-color: white
  background-color: #444345
  // border: 0.5px solid lightgrey
  border: 0.5px solid #696969
  margin: 0px


.c1
  top: 125px
.ciss1
  top: 120px
.d1
  top: 115px
.diss1
  top: 110px
.e1
  top: 105px
.f1
  top: 100px
.fiss1
  top: 95px
.g1
  top: 90px
.giss1
  top: 85px
.a1
  top: 80px
.b1
  top: 75px
.h1
  top: 70px
.c2
  top: 65px
.ciss2
  top: 60px
.d2
  top: 55px
.diss2
  top: 50px
.e2
  top: 45px
.f2
  top: 40px
.fiss2
  top: 35px
.g2
  top: 30px
.giss2
  top: 25px
.a2
  top: 20px
.b2
  top: 15px
.h2
  top: 10px
.c3
  top: 5px
.ciss3
  top: 0px

