.button 
  cursor: pointer
  display: inline-block
  text-decoration: none
  color: #fff
  font-weight: bold
  padding: 5px 10px
  font-size: 12px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  text-shadow: 0px -1px 0px rgba(0,0,0,.5)
  margin: 5px 5px
  vertical-align: top
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  &:focus
    outline: none
  &-icon
    width: 20px
  &-regular
    width: 35px
    height: 28px
    border: 1px solid #2d6898
    background: linear-gradient(rgb(73,132,180), rgb(97,155,203))
    -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    -moz-box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    &:active,
    &--pressed
      margin-top: 6px
      border: 1px solid #2d6898
      background: linear-gradient(rgb(88,140,184), rgb(27,53,92))
      -webkit-box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      -moz-box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px -1.2px 3px rgba(255,255,255,.5)

  &-record
    border: 1px solid #C43B35
    background: linear-gradient(rgb(232,114,109), rgb(148,73,69))
    -webkit-box-shadow: 0px 2px 0px #663230, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    -moz-box-shadow: 0px 2px 0px #663230, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    box-shadow: 0px 2px 0px #663230, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    &:active,
    &--pressed
      margin-top: 6px
      border: 1px solid #C43B35
      background: linear-gradient(rgb(255,77,69), rgb(196,59,53))
      -webkit-box-shadow: 0px 1px 0px #6E211D, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      -moz-box-shadow: 0px 1px 0px #6E211D, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      box-shadow: 0px 1px 0px #6E211D, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px -1px 3px rgba(255,255,255,.5)

.button-round
  cursor: pointer
  display: inline-block
  text-decoration: none
  color: #fff
  font-weight: bold
  padding: 5px 10px
  font-size: 12px
  text-shadow: 0px -1px 0px rgba(0,0,0,.5)
  margin: 5px 5px
  vertical-align: top
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  &:focus
    outline: none
  &-icon
    width: 20px
  &-regular
    width: 20px
    height: 20px
    border: 1px solid #2d6898
    background: linear-gradient(rgb(73,132,180), rgb(97,155,203))
    -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    -moz-box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    box-shadow: 0px 2px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    &:active,
    &--pressed
      margin-top: 6px
      border: 1px solid #2d6898
      background: linear-gradient(rgb(88,140,184), rgb(27,53,92))
      -webkit-box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      -moz-box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
      box-shadow: 0px 1px 0px #2b638f, 0px 3px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px -1.2px 3px rgba(255,255,255,.5)
  

